<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="./styles.css">

    <title>webshop</title>
</head>

<body>

    <header>
        <h1>My shop</h1>
        <div class ="filters">
            <form method ="GET" action="/webshop/only-available">
                <input type="submit" value="Only available" name = "available">
            </form>

            <form method ="GET" action="/webshop/cheapest">
                <input type="submit" value="Cheapest first" name = "cheapest">
            </form>

            <form method ="GET" action="/webshop/nike">
                <input type="submit" value="Contains nike" name = "nike">
            </form>

            <form method ="GET" action="/webshop/stock">
                <input type="submit" value="Average stock" name = "stock">
            </form>

            <form method ="GET" action="/webshop/expensive">
                <input type="submit" value="Most expensive available" name = "expensive">
            </form>

            <form method ="GET" action="/webshop/average">
                <input type="submit" value="Average stock" name = "average">
            </form>
        </div>

    </header>

    <div class ="search">
        <p>Search for</p>

            <input type="text" placeholder="...something like unicorn" name = "searchText">
        <form method="GET" action="/webshop/search">
            <input type="submit" value="Search" name = "search">
        </form>
    </div>
    <main>
        <table>
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>

            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.getName()}"></td>
                    <td th:text="${item.getDescription()}"></td>
                    <td th:text="${item.getPrice()}"></td>
                    <td th:text="${item.getQuantity()}"></td>
                </tr>
            </tbody>
        </table>
    </main>

</body>
</html>