<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="./styles.css">

    <title>webshop</title>
</head>

<body>

    <header>
        <h1>My shop</h1>
        <button>
            Only available
        </button>
        <button>
            Cheapest first
        </button>
        <button>
            Contains nike
        </button>
        <button>
            Average stock
        </button>
        <button>
            Most expensive available
        </button>
    </header>

    <div class ="search">
        <p>Search for</p>
        <input type="text" placeholder="...something like unicorn" name = "searchText">
        <input type="submit" value="Search" name = "search">
    </div>
    <main>
        <table>
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>

            </thead>
            <tr th:each="item : ${items}">
                <td th:text="${item.getName()}"></td>
                <td th:text="${item.getDescription()}"></td>
                <td th:text="${item.getPrice()}"></td>
                <td th:text="${item.getQuantity()}"></td>
            </tr>
        </table>
    </main>

</body>
</html>