<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../styles.css">

    <title>Bank account application</title>
</head>
<body>

    <div>
           <h1 th:text="${account.name} + ' (' + ${account.animalType} + '): ' + ${account.getFormattedBalance()} +
           ${account.currency}"></h1>
    </div>

</body>
</html>