<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Useful</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>
    <h1>Useful things</h1>
    <ol>
        <li><a href="/useful/colored">Colored background</a></li>
        <a>Validate an e-mail</a>
        <li><form method="POST" action="/useful/email">
            <input type="text" placeholder="type your e-mail" name = "email">
            <input type="submit" value="Send" name = "search">
            </form>
        </li>
        <a>This is a text encoder for you:</a>
        <li><form method="POST" action="/useful/encoder">
            <label for name="text">Type the text to encode</label>
            <input type="text" name = "text">
            <input type="number" name = "param" placeholder = "parameter">
            <input type="submit" value="Send" name = "search">
            </form>
        </li>
    </ol>
</body>
</html>