<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Useful</title>
</head>
<body>
    <h1>Useful things</h1>
    <ul>
        <li><a href="/useful/colored">Colored background</a></li>
        <li><form method="POST" action="/useful/email">
            <input type="text" placeholder="type your e-mail" name = "email">
            <input type="submit" value="Send" name = "search">
            </form>
        </li>
        <li><form method="POST" action="/useful/encoder">
            <input type="text" placeholder="type the text" name = "text">
            <input type="number" name = "param">
            <input type="submit" value="Send" name = "search">
            </form>
        </li>
    </ul>
</body>
</html>