<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Edit todo</title>
</head>
<body bgcolor="#dc143c">
    <div class="container">
    <h1 class="row">Edit todo</h1>
    <form action="#" th:action="@{'/todo/' + ${id} + '/edit'}" th:object="${todo}" th:method="put">
        <label for="title">Action: </label>
        <input type="text" id="title" name="title" th:field="*{title}" required>
        <input type="checkbox" id="urgent" name="urgent" th:field="*{urgent}">
        <input type="checkbox" id="dene" name="done" th:field="*{done}">
        <input type="submit" value="Change"/>
    </form>
    </div>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>