<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reddit posts</title>
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Trending posts</h1>
<div class="container">
    <table class="table table-striped">
        <thead>
        <th>Score</th>
        <th>Upvote</th>
        <th>Downvote</th>
        <th>Posts</th>
        </thead>
        <tbody class="table table-hover">
        <tr th:each="post:${posts}">
            <td th:text="${post.score}"></td>
            <td><a th:href="'/upvote/'+${post.id}">+</a></td>
            <td>-</td>
            <td th:text="${post.post}"></td>
        </tr>
        </tbody>
    </table>
    <h3><a th:href="@{/reddit/add}">Add new post</a></h3>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>